################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task_ProductCatalog/Task_ProductCatalog.sln
/Task_ProductCatalog/Task_ProductCatalog.sln
